.x-list-item img {
    float: right;
    margin: 0 10px 0 10px;
    padding: 1px;
    border: 1px solid rgb(150, 150, 150);
}

.x-list-item h2 {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', serif;
}
/* font-family: 'Lucida Grande', Verdana, sans-serif; */
.x-list-item p {
    font-family: 'Lucida Grande', Verdana, sans-serif;
    font-size: small;
}
.x-list-item .published  {
    color: rgb(200, 200, 200);
}
.x-list-item .byline {

}
.storyDetail {
    padding: 14px;
    background: rgb(255,255,255);
}
.storyDetail h1 {
    font-size: xx-large;
    font-weight: bold;
    font-family:  Georgia, 'Times New Roman', serif;
}
.storyDetail h2 {
    font-family: 'Lucida Grande', Verdana, sans-serif;
    color: rgb(100, 100, 100);
    font-size: large;
}
.storyDetail .byline {
    font-style: italic;
    color: rgb(200,200,200);
}
.storyDetail .storyContent {
    font-family: 'Lucida Grande', Verdana, sans-serif;
}
.storyDetail .storyContent p {
    margin-bottom: 20px;
}
